* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    width:80%;
    margin: auto;
    background-color: lightblue;
    padding: 0 10px 10px 10px;
    border: 10px solid rgb(229, 229, 110);
    font-family: 'Inter', snas-serif;
    min-height: 100vh;
    box-shadow: 0 10px 10px rgba(2,2,2,5);
    border-radius: 10px; 
}

html {
    background-color: rgb(243, 242, 222);
    padding-top: 10px;
    padding-bottom: 10px;
}

  a {
  text-decoration: none;
}  

h1 {
    margin: 0;
    padding: 30px 0;
    color: rgb(124, 94, 242);
    text-align: center;
    text-shadow: 4px 4px 1px #000000;
    font-size: 4rem;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: rgb(6, 0, 0);
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    padding: 20px;
    color: rgb(14, 0, 0);
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding: 3px;
    color: #000000;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

header {
    text-align: center;
    background: linear-gradient(to bottom, #97b1d4, #ffffff);
    padding: 20px 10px;
    border-bottom: 3px solid #9eb9ff;
}

img {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    border: 4px solid rgb(255, 192, 231);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

nav {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 178);
    padding: 10px 0; 
    text-decoration: none;
}

aside {
    background-color: #edd0ec;
    border: 3px solid #f6f8fb;
    padding: 15px;
    margin: 3px;
    float: right;
    text-decoration: none;

}

aside small {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

main {
    width: 100%;
    margin: auto;
    padding: 15px;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    margin: auto;
    display:contents
}

 th {
    padding: 10px;
    border: 1px solid #cbd8ff;
    text-align: center;

 }

td {
    padding: 10px;
    border: 1px solid #cbd8ff;
    text-align: center;
}

form {
    display: block;
}

fieldset {
    width:50rem;
    height: 19rem;
    border: 7px;  
    color: #f3f4f6;
    padding: 15px;
    border-radius: 9px;
    cursor: pointer;
    background:linear-gradient(to left, rgb(112, 96, 219), rgb(181, 176, 217));

}

legend {
    padding: 5px;
    font-weight: bold;
    color: #2d4ea3;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
    text-align: justify;
}

select {
    width:10rem;
    height: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246, 248, 249);
    border-color: #f7f4f7;
    cursor: pointer;
    background:linear-gradient(to left, rgb(112, 96, 219), rgb(181, 176, 217));
    text-align: justify;
}

input {
    width: 50rem;
    padding: 10px;
    border: 5px;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width:10rem;
    height: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246, 248, 249);
    border-radius:5px;
    border-color: #f7f4f7;
    cursor: pointer;
    background:linear-gradient(to left, rgb(112, 96, 219), rgb(181, 176, 217));
}

article {
    background-color: #f0f5ff;
    border-left: 5px solid #698ce9;
    padding: 15px;
    margin-top: 30px;
}

footer {
    background-color: #e5efff;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #8cb0ff;
    margin-top: 40px;
}